<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		<!-- default:/WEB_INF/applicationContext.xml -->
	</listener>

	<listener>
		<listener-class>com.us.os.qd.listeners.ProductPathListener</listener-class>
	</listener>

	<!-- Context Configuration locations for Spring XML files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- <param-value>/WEB-INF/applicationContext-*.xml,classpath*:applicationContext-*.xml</param-value> -->
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>openSessionInView</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>flushMode</param-name>
			<param-value>AUTO </param-value>
		</init-param>

	</filter>

	<filter-mapping>
		<filter-name>openSessionInView</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 定义过虑jsp文件或指定目录的Filter -->
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>com.us.os.qd.filters.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/order.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/showproducts.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/myorders.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/categories.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/error.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/header.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/update.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/receive.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/404.jsp</url-pattern>
	</filter-mapping>
</web-app>
